<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div th:fragment="footer">
            <div class="alert bg-dark">
                <div class="custom-control-inline"><h6 class="text-light"></h6></div>
                <div class="float-right"><h6 class="text-light">&copy; Designed by: Mateusz Manicki & Marek Kazana</h6></div>
            </div>
        </div>
    </body>
</html>