<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div th:fragment="header">
            <div class="alert bg-dark">
                <div class="custom-control-inline"><h4 class="custom-control-inline"><a class="text-light" th:href="@{'/'}">Holiday App</a></h4>
                    <h6 class="custom-control-inline text-light d-flex align-items-center">v.1.0.0</h6></div>
                <span th:if="${session.get('user') != 'admin'}">
                    <div class="float-right"><a class="text-light" th:href="${'/signIn'}">Sign in</a></div>
                </span>
                <span th:if="${session.get('user') == 'admin'}">
                    <div class="float-right"><a class="text-light" th:href="${'/signOut'}">Sign out</a></div>
                </span>
            </div>
            <aside class="col-12 text-center my-5">
                <a href="https://konfederacja.net/" target="_blank">
                    <img title="Przejdź na stronę Konfederacji" class="img-fluid" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/72428428_10220122179745390_2737816723762708480_n.jpg?_nc_cat=106&_nc_oc=AQnsU5zDq2j4cQBf1AKHP2My5dwtBoi8JcV0NR3ALgTBbgN81QCkHeP4lgk4AZXPn1y_nHKEsER_ZpF7XfjZJc51&_nc_ht=scontent-waw1-1.xx&oh=74a6152523cf46475b12c5cbfcc380c4&oe=5E21DDDA" alt="Konfederacja Wolność i Niepodległość">
                </a>
            </aside>
        </div>
    </body>
</html>