<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Holidays application</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center font-weight-bold"><u>Trip finder</u></h2>
                    <h6 class="text-center">(set main trip properties)</h6>
                </div>
            </div>

            <br />
            <form th:action="@{'/setTripDetails'}" method="get">
                <div class="row">
                    <div class="col">
                        <label>From location:</label>
                    </div>
                    <div class="col">
                        <label>Destination:</label>
                    </div>
                    <div class="col">
                        <label>Find trip between dates:</label>
                    </div>
                    <div class="col">
                        <label></label>
                    </div>
                    <div class="col">
                        <label>Nights:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <select class="form-control" aria-label="Small" name="idFromCountry" id="countryId" onchange="template()">
                            <optgroup th:label="${continent.getName()}" th:each="continent : ${continents}">
                                <option th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}"
                                        th:value="${country.getIdCountry()}"
                                        th:utext="${country.getName()}">
                                </option>
                            </optgroup>
                        </select>
                    </div>

                    <script>
                        function template_() {
                            var e = document.getElementById("countryId");
                            var value = e.options[e.selectedIndex].value;
                            alert(value);
                        }
                    </script>

                    <div class="col">
                        <select class="form-control" aria-label="Small" name="idDestinationCountry">
                            <optgroup th:each="continent : ${continents}" th:label="${continent.getName()}">
                                <option th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}"
                                        th:value="${country.getIdCountry()}"
                                        th:utext="${country.getName()}">
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" aria-label="Small" name="fromDate" th:value="${today}">
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" aria-label="Small" name="toDate">
                    </div>
                    <div class="col">
                        <select class="form-control" aria-label="Small" name="nights">
                            <option th:each="nights : ${T(pl.manicki.model.enms.Nights).values()}"
                                    th:value="${nights.getValue()}"
                                    th:utext="${nights.getName()}">
                            </option>
<!--                            <option class="bg-dark text-light" th:each="nights : ${T(pl.manicki.model.enms.Nights).values()}"-->
<!--                                     th:disabled="${nights.getDuration() < 10}"-->
<!--                                    th:value="${nights.getDuration()}"-->
<!--                                    th:utext="${nights.getName().toUpperCase()}">-->
<!--                            </option>-->
                        </select>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col">
                        <input name="idTrip" value="-1" type="hidden">
                        <button class="btn btn-outline-success btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </form>

<!--            <div th:utext="${#session.getAttribute('user')}"></div>-->

            <br />
            <br />
            <span th:with="source = ${'mainPage'}">
            <div class="row">
                <div class="col">
                    <h3 class="text-center font-weight-bold">Promoted trips:</h3><br />
                    <div th:each="continent : ${continents}">
                        <div th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}">
                            <div th:with="promotedTrips = ${tripFormController.getAllPromotedTripsFromCountry(country.getIdCountry())}">
                                <div th:if="${promotedTrips.size() > 0}">
                                    <u><h4 class="text-left" th:utext="${continent.getName() + ' - ' + country.getName()}"></h4></u>
                                    <div th:each="trip : ${promotedTrips}">
                                        <div th:replace="fragments/trip.html :: trip"></div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${promotedTripsCounter == 0}">
                        <label>There is no promoted trips.</label>
                    </div>

                    <br />
                    <h3 class="text-center font-weight-bold">Standard trips last minute:</h3><br />
                    <div th:each="continent : ${continents}">
                        <div th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}">
                            <div th:with="standardTrips = ${tripFormController.getAllStandardTripsLastMinuteFromCountry(country.getIdCountry())}">
                                <div th:if="${standardTrips.size() > 0}">
                                    <u><h4 class="text-left" th:utext="${continent.getName() + ' - ' + country.getName()}"></h4></u>
                                    <div th:each="trip : ${standardTrips}">
                                        <div th:replace="fragments/trip.html :: trip"></div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${standardTripsLastMinuteCounter == 0}">
                        <label>There is no 'Last minute' trips.</label>
                    </div>
                </div>
            </div>
            </span>
        </div>
        <br />

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>