<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Holidays application</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Trip finder</h3>
                    <h6 class="text-center">(set main trip properties)</h6>
                </div>
            </div>

            <br />
            <form th:action="@{'/setTripDetails'}" method="get">
                <div class="row">
                    <div class="col">
                        <label>From location:</label>
                    </div>
                    <div class="col">
                        <label>Destination:</label>
                    </div>
                    <div class="col">
                        <label>Find trip between dates:</label>
                    </div>
                    <div class="col">
                        <label></label>
                    </div>
                    <div class="col">
                        <label>Nights:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <select class="form-control" aria-label="Small" name="fromCountry" id="countryId" onchange="template()">
                            <optgroup th:label="${continent.getName()}" th:each="continent : ${continents}">
                                <option th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}"
                                        th:value="${country.getIdCountry()}"
                                        th:utext="${country.getName()}">
                                </option>
                            </optgroup>
                        </select>
                    </div>

                    <script>
                        function template_() {
                            var e = document.getElementById("countryId");
                            var value = e.options[e.selectedIndex].value;
                            alert(value);
                        }
                    </script>

                    <div class="col">
                        <select class="form-control" aria-label="Small" name="destinationCountry">
                            <optgroup th:label="${continent.getName()}" th:each="continent : ${continents}">
                                <option th:each="country : ${tripFormController.getCountryByContinent(continent.getIdContinent())}"
                                        th:value="${country.getIdCountry()}"
                                        th:utext="${country.getName()}">
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" aria-label="Small" name="fromDate" th:value="${today}">
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" aria-label="Small" name="toDate">
                    </div>
                    <div class="col">
                        <select class="form-control" aria-label="Small" name="nights">
                            <option th:each="nights : ${T(pl.manicki.model.enms.Nights).values()}"
                                    th:value="${nights.getValue()}"
                                    th:utext="${nights.getName()}">
                            </option>
<!--                            <option class="bg-dark text-light" th:each="nights : ${T(pl.manicki.model.enms.Nights).values()}"-->
<!--                                     th:disabled="${nights.getDuration() < 10}"-->
<!--                                    th:value="${nights.getDuration()}"-->
<!--                                    th:utext="${nights.getName().toUpperCase()}">-->
<!--                            </option>-->
                        </select>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-success col-3" type="submit">Submit</button>
                    </div>
                </div>
            </form>

<!--            City controller tests: <br />-->
<!--            <a th:href="@{'/test1'}">Test 1</a><br />-->
<!--            <a th:href="@{'/test2/Matt'}">Test 2</a>-->
        </div>
        <br />

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>