<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Holidays application - set trip details</title>
    </head>
    <body>
        <div th:insert="fragments/header :: header"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="d-flex justify-content-center font-weight-bold"><u>Your trip details:</u></h4><br />
                </div>
            </div>

            <form th:action="@{'/findTrip'}" method="post">
            <div class="row">
                <div class="col">
                    Destination country: <label th:utext="${tripFormController.getCountry(destinationCountry).getName()}"></label><br />
                    <input th:name="destinationCountry" th:value="${destinationCountry}" hidden>
                </div>
                <div class="col">
                    From date: <label th:utext="${fromDate}"></label>
                </div>
                <div class="col">
                    to date: <label th:utext="${toDate}"></label>
                </div>
                <div class="col">
                    Nights: <label th:utext="${nights}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label>Select city you will fly from: </label>
                </div>
                <div class="col col-3">
                    <select class="form-control" aria-label="Small" name="fromAirport">
<!--                        <optgroup th:label="${city.getName()}" th:each="city : ${tripFormController.getCitiesFromCountry(fromCountry)}">-->
                            <option th:each="airport : ${tripFormController.getAirportsFromCountry(fromCountry)}"
                                    th:value="${airport.getIdAirport()}"
                                    th:utext="${airport.getCity().getName() + ' - ' + airport.getName()}">
                            </option>
<!--                        </optgroup>-->
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col col-3">
                    <label>Select destination region: </label>
                </div>
                <div class="col col-3">
                    <select class="form-control" aria-label="Small" name="destinationAirport">
                        <option th:each="airport : ${tripFormController.getAirportsFromCountry(destinationCountry)}"
                                th:value="${airport.getIdAirport()}"
                                th:utext="${airport.getCity().getName() + ' - ' + airport.getName()}">
                        </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-outline-success" type="submit">Submit</button>
                        <a th:href="${'/'}"><button class="btn btn-outline-secondary">Back to home page</button></a>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <br />

        <div th:insert="fragments/footer :: footer"></div>

    </body>
</html>