<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Holidays application</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            Hello <div class="custom-control-inline" th:text="${name + '!!!'}"></div><br />
            <div class="custom-control-inline">
                <label>Nights duration:</label> &nbsp; <div th:text="${nights}"></div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>